<main class="main" *ngIf="exerciseDayData">
  <h2>{{ exerciseDayData.tittle }}</h2>
  <div class="exercise-content-container">
    <section class="exercise-container-slider">
      <div class="exercise-configuration-container">
        <div
          *ngFor="let exercise of exerciseUser"
          class="exercise-item"
          [style.transform]="'translateY(-' + currentExerciseIndex * 100 + '%)'"
        >
          <h2>{{ exercise.name }}</h2>
        </div>
      </div>
    </section>
    <div class="exercise-navigation">
      <div class="next" (click)="nextExercises()">❯</div>
      <div class="prev" (click)="prevExercises()">❮</div>
    </div>
  </div>
  <div class="btn-navigation">
    <button class="nav_btn" (click)="onUserTraning()">К тренировкам</button>
    <button
      class="nav_btn"
      (click)="getUserExerciseSettings()"
      *ngIf="pageOwner"
    >
      Добавить упражнения
    </button>
  </div>
</main>

<notification
  [message]="errorMessage"
  [bgColor]="bgColorNotification"
></notification>
<div class="loader" *ngIf="loaderVisible">
  <div class="spinner"></div>
</div>
