<main class="main">
  <section class="set-traning-container" *ngIf="pageOwner">
    <h2>Создать тренировку</h2>
    <form [formGroup]="createUserTraningForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="tittle"></label>
        <div class="input-tittle-container">
          <input
            type="text"
            id="tittle"
            formControlName="tittle"
            class="input-tittle"
            [ngClass]="{
              'valid-border':
                createUserTraningForm.get('tittle')?.valid &&
                createUserTraningForm.get('tittle')?.touched,
              'invalid-border':
                createUserTraningForm.get('tittle')?.invalid &&
                createUserTraningForm.get('tittle')?.touched
            }"
            placeholder="Введите название "
          />
        </div>
      </div>
      <section class="btn-section">
        <button
          mat-flat-button
          type="submit"
          class="btn-submit"
          *ngIf="createUserTraningForm.valid"
        >
          Добавить
        </button>
      </section>
    </form>
  </section>
  <div class="exercise-content-container">
    <h1 *ngIf="!pageOwner">Тренировки друга</h1>
    <section class="exercise-container-slider">
      <div class="exercise-configuration-container">
        <div
          *ngFor="let traning of userTranings"
          class="exercise-item"
          [style.transform]="'translateY(-' + currentExerciseIndex * 100 + '%)'"
        >
          <h2>{{ traning.tittle }}</h2>
          <span class="icons-container">
            <span
              class="material-icons icon-settings"
              (click)="getUserExerciseInfo(traning.id)"
              >info</span
            >
            <span
              *ngIf="pageOwner"
              class="material-icons icon-settings"
              (click)="getUserExerciseSettings(traning.id)"
            >
              settings
            </span>
            <span
              *ngIf="pageOwner"
              class="material-icons"
              (click)="deleteUserTraning(traning.id)"
            >
              delete
            </span>
          </span>
        </div>
      </div>
    </section>
  </div>
</main>

<notification
  [message]="errorMessage"
  [bgColor]="bgColorNotification"
></notification>
<div class="loader" *ngIf="loaderVisible">
  <div class="spinner"></div>
</div>
