<body>
  <header *ngIf="login" [ngClass]="{ 'block-background': isDialogOpen }">
    <div class="logo-container">
      <img
        src="../assets/icons/logo-header.png"
        class="logo"
        alt="Главная страница"
      />
    </div>
    <nav>
      <ul class="nav-list">
        <li>
          <a routerLink="/home" routerLinkActive="active-link">Мой дом</a>
        </li>
        <li>
          <a routerLink="/exercise" routerLinkActive="active-link">Упражения</a>
        </li>
        <li>
          <a routerLink="/calendar" routerLinkActive="active-link">Календарь</a>
        </li>
        <li>
          <a routerLink="/progress" routerLinkActive="active-link">Прогресс</a>
        </li>
      </ul>
    </nav>
    <div (click)="logout()" class="nav-exit">
      <a routerLink="/auth">Выход</a>
    </div>
  </header>
  <router-outlet></router-outlet>
</body>
