<body>
  <header *ngIf="login">
    <div class="logo-container">
      <img
        src="../assets/icons/logo-header.png"
        class="logo"
        alt="Главная страница"
      />
    </div>
    <nav>
      <ul class="nav-list">
        <li>
          <a routerLink="">Мой дом</a>
        </li>
        <li>
          <a routerLink="/exercise">Выбор упражнения</a>
        </li>
        <li>
          <a routerLink="/calendar">Календарь</a>
        </li>
        <li>
          <a routerLink="/progress">Прогресс</a>
        </li>
      </ul>
    </nav>
    <div (click)="logout()" class="nav-exit">
      <a routerLink="/auth">Выход</a>
    </div>
  </header>
  <router-outlet></router-outlet>
</body>
