/* set */
h1 {
  color: rgb(172, 172, 172);
  font-size: 30px;
}

.set-user-info {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
form {
  width: 400px;
  min-height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  width: 350px;
  height: 100px;
}
.form-group__file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 350px;
  height: 100px;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}
.form-group__raw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  width: 350px;
  height: 100px;
  font-size: 20px;
}

.date-input-container {
  font-size: 20px;
  width: 90%;
}

.text-input {
  width: 320px;
  height: 60px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

.valid-border {
  border: 2px solid green;
}

.invalid-border {
  border: 2px solid red;
}

.error {
  color: red;
  font-size: 12px;
}
.warn-msg {
  font-size: 20px;

  color: rgb(32, 129, 0);
}

.btn-submit {
  background-color: rgb(0, 147, 0);
  border: 1px solid gray;
  border-radius: 5px;
  color: rgb(250, 250, 250);
}

/* get */
.get-user {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 40px;
}

.get-user-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 20px 20px 40px;
}

.user_img {
  width: 230px;
  height: 290px;
  border-radius: 20%;
}

h2 {
  color: rgb(228, 228, 228);
  font-size: 25px;
}

.get-user-unfo__item {
  font-size: 20px;
  width: 260px;
  height: 60px;
  border-bottom: 1px solid rgb(55, 55, 55);
}

.user-configuration__container {
  padding: 20px;
  width: 50%;
  height: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-exercise__info {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user-exercise__info-item {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.user-exercise-section__item {
  width: 180px;
  height: 180px;
  border-radius: 15%;
  cursor: pointer;
  background-color: rgba(185, 135, 0, 0.558);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.333);
  font-size: 18px;
  font-weight: 500;
  transition: 0.5s all;
}

.user-exercise-section__item:hover {
  transition: 0.5s all;
  color: rgb(255, 255, 255);
}

.material-symbols-outlined {
  font-size: 60px;
  font-weight: 400;
  color: rgba(119, 0, 0, 0.33);
  transition: 0.5s all;
}

.user-exercise-section__item:hover > .material-symbols-outlined {
  color: red;
  transition: 0.5s all;
}

.user-data__btn-container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
}

.change-user-data_btn {
  color: rgb(255, 255, 255);
  width: 240px;
  background-color: #00bb2c;
  border: none;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
}
