<main class="main">
  <h1>Выберите тренировочный день</h1>
  <div class="exercise-content-container">
    <section class="exercise-container-slider">
      <div class="exercise-configuration-container">
        <div
          *ngFor="let traning of userTranings"
          class="exercise-item"
          [style.transform]="'translateY(-' + currentExerciseIndex * 100 + '%)'"
          (click)="getCurrentUserTraning(traning.id)"
        >
          <h2>{{ traning.tittle }}</h2>
          <span class="icons-container">
            <span class="material-symbols-outlined icon-start">
              play_circle
            </span></span
          >
        </div>
      </div>
    </section>
    <div class="exercise-navigation">
      <div class="next" (click)="nextExercises()">❯</div>
      <div class="prev" (click)="prevExercises()">❮</div>
    </div>
  </div>
</main>

<notification
  [message]="errorMessage"
  [bgColor]="bgColorNotification"
></notification>
<div class="loader" *ngIf="loaderVisible">
  <div class="spinner"></div>
</div>
